# ML Bootcamp session 1: Python basics on jypter notebook
# www.bharathkreddy.com

## quick reference guide to ipython

In [1]:
%quickref

In [4]:
print("hello world !!")

hello world !!

# Python Language Basics

1. The Python language design is distinguished by its emphasis on readability, simplicity, and explicitness.

2. Everything is an object

3. An important characteristic of the Python language is the consistency of its object model. Every number, string, data structure, function, class, module, and so on exists in the Python interpreter in its own “box,” which is referred to as a Python object. Each object has an associated type (e.g., string or function) and internal data. In practice this makes the language very flexible, as even functions can be treated like any other object.

## Comments

1. Any text preceded by the hash mark (pound sign) # is ignored by the Python interpreter. This is often used to add comments to code. At times you may also want to exclude certain blocks of code without deleting them. An easy solution is to comment
out the code. Comments can also occur after a line of executed code.

## Variables and argument passing

1. When assigning a variable (or name) in Python, you are creating a reference to the object on the righthand side of the equals sign. In practical terms, consider a list of integers:

In [5]:
a = [1,2,3]

### Suppose we assign a to a new variable b:

In [6]:
b = a

### In some languages, this assignment would cause the data [1, 2, 3] to be copied. In Python, a and b actually now refer to the same object, the original list [1, 2, 3]. 

### You can prove this to yourself by appending an element to a and then examining b

In [8]:
a.append(4)

In [9]:
print(b)

[1, 2, 3, 4]

## Dynamic references, strong types

### In contrast with many compiled languages, such as Java and C++, object references in Python have no type associated with them. There is no problem with the following:

In [10]:
a = 5
type(a)

int

In [11]:
a = 'bharath'
type(a)

str

### Knowing the type of an object is important, and it’s useful to be able to write functions that can handle many different kinds of input. You can check that an object is an instance of a particular type using the isinstance function:

In [12]:
a = 5
isinstance(a,int)

True

### isinstance can accept a tuple of types if you want to check that an object’s type is among those present in the tuple:

In [13]:
a = 4
isinstance(a,(int,str))

True

In [15]:
b = 5.6
isinstance(b,int)

False

In [16]:
isinstance(b,(int,float))

True

## Attributes and methods

### Objects in Python typically have both attributes (other Python objects stored “inside” the object) and methods (functions associated with an object that can have access to the object’s internal data). Both of them are accessed via the syntax

#### obj.attribute_name:

In [17]:
a = 'bharath'

In [18]:
a.<tab>

SyntaxError: invalid syntax (<ipython-input-18-9fffa4444459>, line 1)

## Imports

### In Python a module is simply a file with the .py extension containing Python code.Suppose that we had the following module:

### If we wanted to access the variables and functions defined in some_module.py, from another file in the same directory we could do:

In [24]:
import module
result = module.f(5)
print(result)
pi = module.PI
pi

7

3.14159

In [26]:
from module import f, g, PI
result = g(5, PI)
print(result)

8.14159

 ### type %load module

In [ ]:
# %load module
PI = 3.14159

def f(x):
  return x + 2

def g(a, b):
  return a + b

### By using the as keyword you can give imports different variable names:

In [28]:
import module as sm
from module import PI as pi, g as gf
r1 = sm.f(pi)
r2 = gf(6, pi)
print(r1)
print(r2)

5.14159
9.14159

## Binary operators and comparisons

### Most of the binary math operations and comparisons are as you might expect:

In [29]:
5-7

-2

In [30]:
23+43.5

66.5

In [31]:
5/2

2.5

In [32]:
5//2 #quotent

2

In [33]:
5%2 #remainder

1

### To check if two references refer to the same object, use the is keyword. is not is also perfectly valid if you want to check that two objects are not the same:

In [34]:
a = [1,2,3]
b = a
c = list(a)

In [35]:
a is b

True

In [36]:
b is a

True

In [37]:
a == b

True

In [38]:
b == a

True

In [39]:
a == c

True

In [40]:
c == a

True

In [41]:
a is c

False

In [42]:
c is a

False

## Strings

### Many people use Python for its powerful and flexible built-in string processing capabilities. You can write string literals using either single quotes ' or double quotes ":

In [44]:
a = 'one way of writing a string'
b = "another way"

print('a : ',a)
print('b:', b)
print(a+b)
print(a,b) #note the space difference

a :  one way of writing a string
b: another way
one way of writing a stringanother way
one way of writing a string another way

In [49]:
a[2]

'e'

In [54]:
a[1:5]

'ne w'

In [51]:
a[:5]

'one w'

In [53]:
a[5:]

'ay of writing a string'

In [56]:
a = 5.6
s = str(a)
print(s)

5.6

In [57]:
isinstance(s,str)

True

In [58]:
isinstance(a,str)

False

In [59]:
isinstance(s,int)

False

In [61]:
s = 'python'

In [62]:
s[3]

'h'

In [63]:
s[3] = 'k'

TypeError: 'str' object does not support item assignment

### The syntax s[:3] is called slicing and is implemented for many kinds of Python sequences. This will be explained in more detail later on, as it is used extensively.

### The backslash character \ is an escape character, meaning that it is used to specify special characters like newline \n or unicode characters. To write a string literal with backslashes, you need to escape them:

In [64]:
s = '12\\34'
print(s)

12\34

###  If you have a string with a lot of backslashes and no special characters, you might find this a bit annoying. Fortunately you can preface the leading quote of the string with r, which means that the characters should be interpreted as is:

In [65]:
s = r'this\has\no\special\characters'
print(s)

this\has\no\special\characters

## Type casting

### The str, bool, int, and float types are also functions that can be used to cast values to those types:

In [66]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [67]:
int(fval)
fval

3.14159

In [68]:
type(fval)

float

In [69]:
fval = int(fval)
type(fval)

int

## Data Structures and Sequences

### Python’s data structures are simple but powerful. Mastering their use is a critical part of becoming a proficient Python programmer.

## Tuple

### A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

In [70]:
tup = 4, 5, 6

In [71]:
tup

(4, 5, 6)

### You can convert any sequence or iterator to a tuple by invoking tuple:

In [72]:
tuple([4, 0, 2])

(4, 0, 2)

In [73]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [74]:
tup[2:5]

('r', 'i', 'n')

### While the objects stored in a tuple may be mutable themselves, once the tuple is created it’s not possible to modify which object is stored in each slot:

In [80]:
tup = tuple(['foo', [1, 2], True])

In [76]:
tup[2]

True

In [77]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

### If an object inside a tuple is mutable, such as a list, you can modify it in-place:

In [81]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

### You can concatenate tuples using the + operator to produce longer tuples:

In [82]:
(4, None, 'foo') + (6, 0) + ('bar','bharath')

(4, None, 'foo', 6, 0, 'bar', 'bharath')

### Multiplying a tuple by an integer, as with lists, has the effect of concatenating together that many copies of the tuple:

In [83]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## Unpacking tuples

### If you try to assign to a tuple-like expression of variables, Python will attempt to unpack the value on the righthand side of the equals sign:

In [85]:
tup = (4, 5, 6)

In [86]:
a, b, c = tup
print(a)
print(b)
print(c)

4
5
6

### The Python language recently acquired some more advanced tuple unpacking to help with situations where you may want to “pluck” a few elements from the beginning of a tuple. This uses the special syntax *rest, which is also used in function signatures to capture an arbitrarily long list of positional arguments:

In [87]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

## Tuple methods

### Since the size and contents of a tuple cannot be modified, it is very light on instance methods. A particularly useful one (also available on lists) is count, which counts the number of occurrences of a value:

In [88]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## List

### In contrast with tuples, lists are variable-length and their contents can be modified in-place.

In [90]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)

['foo', 'bar', 'baz']

In [93]:
b_list[1]

'bar'

In [94]:
b_list[1] = 'peekaboo'

In [95]:
b_list

['foo', 'peekaboo', 'baz']

In [97]:
gen = range(10)
print(gen)

range(0, 10)

In [98]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Adding and removing elements

### Elements can be appended to the end of the list with the append method:

In [99]:
b_list.append('dwarf')
print(b_list)

['foo', 'peekaboo', 'baz', 'dwarf']

### Using insert you can insert an element at a specific location in the list:

In [100]:
b_list.insert(1, 'red')

In [101]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

### The inverse operation to insert is pop, which removes and returns an element at a particular index:

In [102]:
b_list.pop(2)

'peekaboo'

In [103]:
b_list

['foo', 'red', 'baz', 'dwarf']

### Check if a list contains a value using the in keyword:

In [104]:
'dwarf' in b_list

True

In [105]:
'dwarf' not in b_list

False

### Concatenating and combining lists

### Similar to tuples, adding two lists together with + concatenates them:

In [107]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [108]:
x = [4, None, 'foo']

In [109]:
x

[4, None, 'foo']

In [110]:
x.extend(['Bharath','5.64',4.5,12])

In [111]:
x

[4, None, 'foo', 'Bharath', '5.64', 4.5, 12]

## SLICING

In [112]:
x = [4,5,6,7,8,9,10,11,12,13,14,15,16,17]

In [113]:
len(x)

14

In [114]:
x[2:]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [115]:
x[:-2]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [116]:
x[::2]

[4, 6, 8, 10, 12, 14, 16]

In [117]:
x[::3]

[4, 7, 10, 13, 16]

## dict

### dict is likely the most important built-in Python data structure. A more common name for it is hash map or associative array. It is a flexibly sized collection of key-value pairs, where key and value are Python objects. One approach for creating one is to use curly braces {} and colons to separate keys and values:

In [119]:
empty_dict = {}

In [120]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [121]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

### You can access, insert, or set elements using the same syntax as for accessing elements of a list or tuple:

In [122]:
d1[7] = 'an integer'

In [123]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [124]:
d1['b']

[1, 2, 3, 4]

In [125]:
'b' in d1

True

In [126]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [127]:
del d1[7]

In [128]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [129]:
ret = d1.pop('b')

In [130]:
ret

[1, 2, 3, 4]

In [131]:
d1

{'a': 'some value'}

In [132]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [133]:
list(d1.keys())

['a', 'b']

In [134]:
d1.values()

dict_values(['some value', [1, 2, 3, 4]])

In [136]:
list(d1.values())

['some value', [1, 2, 3, 4]]